In [10]:
def print_full_name(fname,lname):
    p

In [17]:
mylist = [1,2,3,4,5]
for item in mylist:
    print(item)

1
2
3
4
5

In [19]:
mytuple = (1,2,3,4)

In [20]:
mylist = [1,2,3,4]

In [22]:
mylist[0] = "changed"

In [23]:
mytuple[0]

1

In [24]:
mylist

['changed', 2, 3, 4]

In [36]:
mylist2 = ['a','b','c']

In [30]:
id(mylist2)

2756942690760

In [33]:
mylist2[2] = 'changed'

mylist2

In [34]:
id(mylist2)

2756942536840

In [40]:
mylist3 =[1,2,3,4,5]

In [42]:
mylist3.append('appended item')

In [44]:
result = []
for item in [1,2,3,4,5,6]:
    result.append("fNo.{item} -inside for loop")

In [45]:
result

['fNo.{item} -inside for loop',
 'fNo.{item} -inside for loop',
 'fNo.{item} -inside for loop',
 'fNo.{item} -inside for loop',
 'fNo.{item} -inside for loop',
 'fNo.{item} -inside for loop']

In [51]:
result = []
for item in [1,2,3,4,5,6]:
    result.append(f"No.{item} -inside for loop")

In [52]:
result

['No.1 -inside for loop',
 'No.2 -inside for loop',
 'No.3 -inside for loop',
 'No.4 -inside for loop',
 'No.5 -inside for loop',
 'No.6 -inside for loop']

In [1]:
mydictionary = {"name","python workshop","place","hall building"}

In [3]:
mydictionary

{'hall building', 'name', 'place', 'python workshop'}

In [13]:
mydictionary

{'hall building', 'name', 'place', 'python workshop'}

In [4]:
import pandas

In [7]:
import pandas as pd

In [14]:
event_info ={"name":["Python workshop", "Bokeh Workshop"],"organizer": ["ECGSA","Concordia"], "place": ["Hall Building", "ev building"], "city": ["Montreal", "Montreal"]}

In [15]:
df = pd.DataFrame(event_info)

In [16]:
df

              name  organizer          place      city
0  Python workshop      ECGSA  Hall Building  Montreal
1   Bokeh Workshop  Concordia    ev building  Montreal

In [36]:
mylist4 =[('a',1), ('b',2), ('c',3)]

In [40]:
for letter, number, priority in mylist4:
    print(letter, "-->", number, "-->", priority , "-->")

ValueError: not enough values to unpack (expected 3, got 2)

In [28]:
mydict4 = {"name":"Python workshop","organizer": "ECGSA", "place": "ev building", "city":  "Montreal"}

In [29]:
mylist8=["6788"]

In [30]:
type(mylist8)

list

In [33]:
mylist8.append(67)

In [34]:
mylist8

['6788', 67, 67]